<div id="steps">
  <div class="step">
    <h4>Add time notes to your commits</h4>
    <%= image_tag "commit_with_time_entry.png" %>
  </div>

  <div class="step">
    <h4>Select billable entries</h4>
    <%= image_tag "estimated_entries.png" %>
  </div>

  <div class="step">
    <h4>Create your invoice</h4>
    <%= image_tag "create_invoice.png" %>
  </div>

  <div class="step">
    <h4>Review, edit and export your invoice</h4>
    <%= image_tag "show_invoice.png" %>
  </div>
</div>
