#help, #home{
  #main-description {
    text-align: center;
  }

  #home_header {
    margin-bottom: 50px;

    h2 {
      text-align: center;
      font-size: 60px;
      margin-bottom: 0;
    }

    h3 {
      text-align: center;
      position: relative;
      top: 0;
      font-size: 25px;
    }
  }

  #showcase {
    width: 100%;

    .preview {
      float: left;
      width: 50%;
      text-align: center;
    }
  }

  #steps_title {
    h3 {
      font-size: 30px;
      text-align: center;
      cursor: pointer;
    }
  }

  #steps {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    display: none;
    .step {
      margin: 10px;
    }
  }
}

#help{
  #steps{ display: block; }
  
  h1{
    font-size: 60px;
    text-align: center;
  }
  
  .step{
    h4{
      font-size: 25px;
    }
  }
  
  
  
  
}