<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>

  <div id="header">
    <div id="main-nav" class="wrapper">
    </div>
  </div>

  <div id="main" class="wrapper">
    <%= yield %>
  </div>
</body>
</html>
